body {
    background-color: cornflowerblue;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    perspective: 1000px;
}

.card {
    width: 150px;
    height: 200px;
    /* relative -> 기준점 */
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

/* card가 눌렸을 때 실행될 css */
.card:active {
    transform: rotateY(180deg);
}

.front,
.back {
    /* 부모 태그의 크기에 맞춤 */
    width: 100%;
    height: 100%;
    /* absolute -> 부모의 relative를 따라감 */
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 20px;
    backface-visibility: hidden;
}

.front {
    /* 180도 돌리기 -> 3D로 만듬 */
    transform: rotateY(180deg);
}